.detect-result-dialog {
  max-width: calc(100% - 60px);
  height: calc(100% - 56px);
}

.detect-result-dialog .modal-content {
  height: 100%;
}

.detect-result-dialog .detect-result-body {
  height: calc(100% - 57px);
  overflow: hidden;
  padding: 0 !important;
}

.detect-result-dialog .detect-result-container {
  width: 100%;
  height: 100%;
  padding: 16px;
  overflow: scroll;
}

.detect-result-dialog .detect-result-table {
  border-collapse: collapse;
  border: 1px solid #111;
}

.detect-result-dialog .detect-result-tr {
  border-top: 1px solid #111;
}

.detect-result-dialog .detect-result-td {
  overflow: hidden;
  border-bottom: 1px solid #111;
  border-right: 1px solid #111;
}

.detect-result-dialog tbody .detect-result-tr:last-child .detect-result-td {
  border-bottom: none;
}

.detect-result-dialog thead .detect-result-tr .detect-result-td:last-child,
.detect-result-dialog tbody .detect-result-tr .detect-result-td:last-child {
  border-right: none;
}

.detect-result-dialog .detect-result-item {
  width: 200px;
  min-height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.detect-result-dialog .detect-result-item.details:hover {
  cursor: pointer;
}
