.mode-evaluation-container {
  padding: 0 20px 20px;
  overflow-y: scroll;
}

.mode-evaluation-container .mode-evaluation-header {
  height: 130px;
  padding: 10px 80px 20px 80px;
}

.mode-evaluation-container .mode-evaluation-title {
  margin-left: 80px;
  margin-bottom: 0px;
}

.mode-evaluation-container .mode-evaluation-item {
  flex-direction: column;
}

.mode-evaluation-container .mode-evaluation-item .mode-evaluation-item {
  width: calc((100% - 16px) / 2);
}

.mode-evaluation-container .mode-evaluation-item .mode-evaluation-item:first-child {
  margin-right: 16px;
}

.mode-evaluation-container .project-importance-select__control {
  height: 38px;
  border-color: rgba(0, 40, 100, .12);
}
