{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mode Evaluation</title>
    {% block extra_style %}
    <link rel="stylesheet" type="text/css" href="{{ media_url }}css/common.css" />
    {% render_bundle 'modeEvaluation' 'css' %}
    {% endblock %}
</head>
<body>
    <div id="wrapper" class="wrapper"></div>
    {% block extra_script %}
    <script type="text/javascript">
        window.app = {
            server: '{{ service_url }}',
        };
    </script>
    {% render_bundle 'modeEvaluation' 'js' %}
    {% render_bundle 'runtime' 'js' %}
    {% endblock %}
</body>
</html>